.competences
{
    .ElementPrincipale
    {
        transition-duration: 3s;
        transition-property: margin-top;
        margin-top: 10vh;
        margin-bottom: 2vh;
        p
        {
            display: none;
        }
    }
}