@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Space+Mono&display=swap');

$font-1: 'Kaushan Script', cursive;
$font-2: 'Space Mono', monospace;

$color-1: #CACACA;
$color-2: #E0E5EC;
$color-3: rgb(45, 44, 38);//2D2C26
$color-4: #0A81AB;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-2;
}
body {
  margin: 0.4rem auto;
  max-width: 1296px;
  color: $color-3;
  background:$color-2;
  padding: 14px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
